:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color : #0B0F1A;
  --hero-color : #00C9A7;
  --hero-text-color : #ffffff77;
  --essentials-background-color : #2E2E3D;
  --essentials-items-background-color : #00C9A7;
  --essentials-items-color : #000000;
  --essentials-main-item-background-color : #FFFFFF;
  --essentials-main-item-text-color : #2E2E3D;
  --primary-text-color: #eee;
  --secondary-text-color: #0B0F1A;
  --input-outline-color : #00C9A7;
  --input-box-shadow : 0 0 5px rgba(0, 201, 167, 0.6);
  --account-dropdown-background-color : #000;
  --account-dropdown-primary-text-color : #fff;
  --account-dropdown-secondary-text-color : #fff;
  --account-dropdown-btn-color : #00C9A7;

  --input-background-color: #2E2E2E;
  --input-text-color : #00c9a783;
}

[data-theme="light"] {
  --background-color : #ffffff;
  --hero-color : #000000;
  --hero-text-color : #0b0f1a4b;
  --essentials-background-color : #2E2E3D;
  --essentials-items-background-color : #ffffff;
  --essentials-items-color : #000000;
  --essentials-main-item-background-color : #000000;
  --essentials-main-item-text-color : #ffffff;
  --primary-text-color: #010101;
  --secondary-text-color: #eee;
  --input-outline-color : #000000;
  --input-box-shadow : 0 0 5px rgba(16, 17, 17, 0.6);
  --account-dropdown-background-color : #2E2E3D;
  --account-dropdown-primary-text-color : #fff;
  --account-dropdown-secondary-text-color : #000;
  --account-dropdown-btn-color : #D9D9D9;
  
  --input-background-color : #D9D9D9;
  --input-text-color : #00000086;
}

[data-theme="dark"] {
  --background-color: #0B0F1A;
  --hero-color: #00C9A7;
  --hero-text-color: #ffffff77;
  --essentials-background-color: #2E2E3D;
  --essentials-items-background-color: #00C9A7;
  --essentials-items-color: #000000;
  --essentials-main-item-background-color: #FFFFFF;
  --essentials-main-item-text-color: #2E2E3D;
  --primary-text-color: #eee;
  --secondary-text-color: #0B0F1A;
  --input-outline-color: #00C9A7;
  --input-box-shadow: 0 0 5px rgba(0, 201, 167, 0.6);
  --account-dropdown-background-color : #000;
  --account-dropdown-primary-text-color : #fff;
  --account-dropdown-secondary-text-color : #fff;
  --account-dropdown-btn-color : #00C9A7;

  --input-background-color: #2E2E2E;
  --input-text-color : #00c9a780;
}

/* Example usage: apply background and text colors */
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
