
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15.625rem;
  height: 100vh;
  background: var(--background-color);
  color: var( --primary-text-color);
  z-index: 1000;
  transition: transform 0.3s ease;
  /* Add more styling as needed */
}

.top-sidebar{
    display : flex;
    justify-content: space-between;
}
.close-btn {
  margin: 10px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo-container{
    margin: 10px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  /* cursor: pointer; */
}

.logo-container img {
    width : 100%;
    /* height : 80%;
     */
     height: auto;
     margin-top : -12%;
}

.horizontal-line {
    margin-top: -16%;
}

.horizontal-line hr {
  height: 1.5px;
  background-color: var(--primary-text-color);
}

.nav-item {
  margin-top : 15%;
  margin-left : -15%;
}

.nav-link {
  text-decoration: none; 
}

.nav-link p {
  text-decoration: none;
  color : var(--primary-text-color);
  font-size: 1.2rem;
  margin : 0;
}

.icon-box {
  width: 40px;
  height: 40px;
  flex-shrink: 0; /* prevents shrinking */
  overflow: hidden; /* crop any overflow */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px; /* optional: makes icons look neater */

}


.icon-text{
  display: flex;
  align-items : center;
  gap : 0.8rem;
}

.icon-home {
  margin-left: 1%;
}


.sidebar-content ul {
  list-style: none; 
}

.icon-text img.icon {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover; /* this will ensure that the image will fit inside the block without being distorted */
  display : block;
}

.icon-text img.notes-icon {
  height: 2rem;
  width : 2rem;
} 

.btm-line{
  margin-top: 15%;
}

.account-container {
  display: flex;
  flex-direction: row;
  margin-left : 10%;
  margin-top: 70%;
  align-items: center;
  gap: 10px;
  /* background-color: red; */
}

.account-container img {
  height: 2.5rem;
  width: 2.5rem;
  /* background-color: blue; */
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--primary-text-color);
}

.account-link-container {
  margin-top : -10%;
}


