.password-wrapper {

  position: relative;
  display: flex;
  align-items: center;
  border: none;
  margin-top: 5%;
  background-color: var(--input-background-color);
  padding: 2.0px;
  border-radius: 6px;
  width : 99%;
}

.icon {
  width: 40px;
  margin-right: 8px;
}

.input-password {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  border : none;
  background-color: var(--input-background-color);
  color : var(--input-text-color);
  width : 90%;
  padding : 5%;
}

.input-password::placeholder {
  color: var(--input-text-color);
  font-size: 17px;
  font-weight : bold;
  padding: 4%;
}