.password-wrapper {

  position: relative;
  display: flex;
  align-items: center;
  border: none;
  margin-top: 5%;
  background-color: var(--input-background-color);
  padding: 2.0px;
  border-radius: 6px;
  width : 99%;
}

.icon {
  width: 40px;
  margin-right: 8px;
}

input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}