.signup-container {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.signup-left {
  flex: 1;
  background-color: var(--login-button-background);
  color: var(--login-button-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 0 16px 16px 0;
}

.signup-left h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

.signup-left p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: var(--input-text-color);
}

.smart-logo {
  width: 80%;
  opacity: 0.3;
  margin-bottom: 30px;
}

.signup-right {
  flex: 1;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-right h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 900;
  color: var(--primary-text-color);
}

.name-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.save-password {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
}

.save-password input {
  margin-right: 10px;
}

.divider {
  margin: 30px 0;
  text-align: center;
  position: relative;
  color: var(--input-text-color);
}

.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: var(--input-text-color);
}
.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.socials img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
